body {
    background-color: grey;
    margin-top: 50px;
}
/**
img {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 40%; 
}
**/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

img {
    width: 300px;
    max-width: 100%;
    max-height:100%;
}

.heading {
    font-size: 20px;
    padding-left: 20px;
}

.about-me {
    display: inline-block;
    align-items: center;
    margin: 40px 20% 20px 20%;
}

footer {
    display: inline-block;
    align-items: center;
    margin: 10px 15%;
}

.social {
    display: inline;
}

.favicon {
    height: 40px;
    width: 40px;
}